header {
    .headerContainer {
        &__logo {
            i {
                display: inline-block;
                width: 15%;
                img {
                    width: 100%;
                }
            }
        }
    }
}