@mixin bodyStyles {
    background-color: #000000;
    padding: 1vw 2vw;
}

@mixin headerStyles {
    height: 30vw;
    background-image: url("https://image.tmdb.org/t/p/original/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg");
    background-repeat: no-repeat;
    background-position-y: 3%;
    background-size: 100%;
    box-shadow: inset 0px 200px 69px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1vw;
}

@mixin headerContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    //background-color: rgba(137, 108, 189, 0.72);
    background-color: transparent;
    //box-shadow: 0px 6px 80px -7px rgba(0,0,0,0.75);
}

@mixin headerContainerLogo {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    width: calc(35% - 1vw);
    flex: 1;
    transition: all 0.25s ease;
    cursor: pointer;

}

@mixin h1Logo {
    font-family: "Bebas Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(0.5rem, 3vw, 5rem);
    align-content: center;
    padding: 2vw;
    color: #ffff;
    transition: all 0.25s ease;
    cursor: pointer;
}

@mixin headerContainersGral ($widthPorcent, $widthVw) {
    padding: 1vw;
    display: flex;
    width: calc($widthPorcent - $widthVw);
    box-sizing: border-box;
}

@mixin headerUlStyle ($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    gap: 1.5vw;
    flex: 1;
    align-content: center;
}

@mixin headerUlLiStyle ($minSize, $wishSize, $maxSize) {
    cursor: pointer;
    font-family: "Quicksand", 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: clamp($minSize, $wishSize, $maxSize);
    color: #ffff;
}

@mixin searchText {
    border-radius: 50px;
    padding: 7%;
    width: 100%;
    height: 1rem;
    background-color: transparent;
    font-size: clamp(0.3rem, 1.2vw, 3rem);
    box-sizing: border-box;
    border: .1vw solid #ffff;
}

@mixin searchButton {
    width: 10%;
    position: relative;
    right: 14.5%;
    bottom: 87%;
}

@mixin messageSession {
    display: flex;
    font-family: "Bebas Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(0.3rem, 2vw, 5rem);
    align-items: center;
    color: #ffff;
    transition: all 0.25s ease;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}

@mixin shoppingBag {
    border-radius: 0.781vw;
    background-color: #fff;
    color: #000;
    font-family: "Bebas Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 39.588vw;
    position: relative;
    left: 55.8vw;
    top: -1.5vw;
    padding: 1.953vw;
    box-sizing: border-box;
    box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 75%;
    visibility: hidden;
    opacity: 0;
}

@mixin shoppingBagClose {
    display: inline-block;
    width: 1.979vw;
}

@mixin shoppingBagCloseImage {
    width: 100%;
    cursor: pointer;
}

@mixin shoppingBagTitle {
    width: 100%;
    text-align: center;
    font-size: clamp(.6rem, 1.563vw, 2vw);
    font-weight: 400;
    text-emphasis: i;
    padding: 0.781vw 0;
    box-sizing: border-box;
    margin: 0px;
    font-style: italic;
}

@mixin shoppingBagItemsBagItem {
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.172vw;
    box-sizing: border-box;
    flex-direction: row;
}

@mixin bagItemCover {
    width: 4.688vw;
}

@mixin bagItemTitle {
    text-align: center;
    margin: 0;
    width: 50%;
    font-size: clamp(0.2rem, 1.25vw, 1rem);
}

@mixin bagItemDenominationPrice {
    font-weight: 500;
    margin: 0;
    font-size: clamp(0.2rem, 1.25vw, 1rem);
}

@mixin bagIconRemove {
    width: 1.563vw;
}

@mixin bagImageRemove {
    width: 100%;
    cursor: pointer;
}

@mixin loginForm {
    display: flex;
    background-color: #fff;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    gap: 0.3vw;
    border-radius: 0.792vw;
    font-family: "Bebas Neue", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    left: 65.26vw;
    top: 8vw;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

@mixin loginFormClose {
    position: relative;
    left: -8.594vw;
    bottom: -0.391vw;

    @media screen and (max-width: 900px) and (min-width: 200px) {
        width: 31%;
        left: -6.8vw;
        top: 0px
    }
}

@mixin loginFormCloseImage {
    cursor: pointer;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        width: 50%;

    }
}

@mixin loginFormUserPass {
    padding: 1.5vw;
}

@mixin loginFormUserPassTitle {
    text-align: center;
    margin: 0.475vw;
    font-size: clamp(0.5rem, 1.3vw, 3rem);
}

@mixin loginFormUserTextName {
    border-radius: 5px;
    border: solid 2px #f34343;
    font-size: clamp(0.3rem, 1.3vw, 3rem);

    @media screen and (max-width: 900px) and (min-width: 200px) {
        border: solid 1px #f34343;
    }
}

@mixin loginButton {
    padding: 1.5vw;
}

@mixin loginButtonSend {
    width: 100%;
    height: 3vw;
    border-radius: 13px;
    cursor: pointer;
    border: solid 1px #d3d3d3;
    background: azure;
    font-family: "Quicksand", "Courier New", Courier, monospace;
    font-weight: 600;
    width: 100%;
    font-size: clamp(0.3rem, 1vw, 1rem);
}

@mixin signinForm {
    display: flex;
    background-color: #fff;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    gap: 0.3vw;
    border-radius: 0.792vw;
    font-family: "Bebas Neue", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    left: 76.26vw;
    top: 8vw;
    transition: all 0.30s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

@mixin signinFormUser {
    align-items: center;
    padding: .5vw;
    display: flex;
    flex-direction: column;
}

@mixin signinFormUserTitle {
    font-size: clamp(0.5rem, 1.3vw, 3rem);
    text-align: center;
    margin: 0.475vw;
}

@mixin signinFormUserName {
    border-radius: 5px;
    border: solid 2px #f34343;
    margin-bottom: 1vw;
    font-size: clamp(0.3rem, 1.3vw, 3rem);

    @media screen and (max-width: 900px) and (min-width: 200px) {
        border: solid 1px #f34343;

    }
}


@mixin signinButton {
    align-items: center;
    padding: .5vw;
    display: flex;
    flex-direction: column;
}

@mixin siginButtonSend {
    font-size: clamp(0.3rem, 1vw, 1rem);
    height: 3vw;
    border-radius: 13px;
    cursor: pointer;
    border: solid 1px #d3d3d3;
    background: azure;
    font-family: "Quicksand", "Courier New", Courier, monospace;
    font-weight: 600;
    margin: 0.5vw;
}

@mixin productsGridTitle {
    margin-top: 4vw;
    margin-bottom: 1vw;
    transition: all 0.25s ease;
    display: flex;
    gap: 2vw;
}

@mixin productsGridTitleH3 {
    cursor: pointer;
    font-family: "Quicksand", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: clamp(0.3rem, 1.8vw, 3rem);
    color: #fff;
}

@mixin productsGridGrid {
    display: grid;
    padding: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 1vw;
    justify-items: center;
}

@mixin productsGridItem {
    font-family: "Quicksand", "Courier New", Courier, monospace;
    padding: 1vw;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: row;
    color: #ffff;
    width: calc(100% - 1vw);
}

@mixin infoItem {
    display: flex;
    flex-direction: column;
    gap: 0.792vw;
    align-items: center;
    background-color: #c55252;
    width: 100%;
    padding: 0.396vw;
    border-bottom-right-radius: 0.781vw;
    border-top-right-radius: 0.781vw;
    box-shadow: inset 0px 0px 9px 2px black;
    justify-content: space-evenly;
}

@mixin infoItemTitle {
    text-align: center;
    padding: 1vw;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 0.4vw;
    font-size: clamp(0.2rem, 1.8vw, 3rem);
}

@mixin infoItemResolution {
    width: 70%;
}

@mixin infoItemGenre {
    padding: 0.5vw;
    justify-content: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(0.1rem, 1vw, 1rem);
    padding: 0.4vw;
}

@mixin infoItemSummary {
    padding: 0.4vw;
    text-align: center;
    font-size: clamp(0.2rem, 1.3vw, 3rem);
}

@mixin infoItemPrice {
    display: flex;
    font-weight: 700;
    font-size: clamp(0.3rem, 1.5vw, 3rem);
}

@mixin showsResult {
    transition: all 0.25s ease;
}

@mixin showsResultTitle {
    margin-top: 4vw;
    margin-bottom: 1vw;
    transition: all .25s ease;
    display: flex;
    gap: 2vw;
}

@mixin showsResultContainer {
    justify-content: flex-start;
    display: flex;
    padding: 1vw;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.25s ease;
}

@mixin showsResultContainerItem {
    padding: 1vw;
    transition: all 0.25s ease;
    margin: 0.625rem;
    height: 20rem;
    cursor: pointer;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        width: 33vw;
        height: 23vw;
        padding: 0.2vw;
        margin: 0.2rem;
    }
}

@mixin infoshowsResult {
    display: flex;
    position: relative;
    top: -18.7rem;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
    opacity: 0;
    font-family: "Quicksand", 'Courier New', Courier, monospace;
    flex-direction: column;
    text-align: justify;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        top: -5.5rem;
        width: 100%;
    }
}

@mixin infoshowsResultName {
    font-size: clamp(0.4rem, 1.3vw, 2rem);
    text-align: center;
    padding: 1vw;
    color: #ffff;
    font-style: italic;
    font-weight: 600;
}

@mixin infoshowsResultGenre {
    padding: .5vw;
    justify-content: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(0.2rem, 0.8vw, 1rem);
}

@mixin infoshowsResultSummary {
    padding: 1vw;
    color: #ffff;
    font-size: clamp(0.1rem, 1vw, 2rem);
}

@mixin footerLegalContainer {
    display: flex;
    padding: 2vw;
    margin-top: 5vw;
    font-family: "Quicksand", 'Courier New', Courier, monospace;
}

@mixin footerLegalContainerContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vw;
    padding: 1vw;
    align-items: center;
}

@mixin legalContainerContentLi {
    cursor: pointer;
    color: #676767;
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-weight: 600;
}

@mixin headerLogoIcon {
    display: inline-block;
    width: 15%;
    margin-left: .6vw;
}

@mixin countIcon {
    font-size: clamp(0.3rem, 1.425vw, 3rem);
    position: absolute;
    border-radius: 50%;
    right: 5.622vw;
    top: 3.246vw;
    background-color: #f16666;
    width: 1.584vw;
    padding: 1px;
    text-align: center;
    color: #fff;
    font-family: "Bebas Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin signinFormClose {
    position: relative;
    left: -8.709vw;
    bottom: -0.396vw;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        width: 31%;
        left: -25px;
        top: 0px
    }
}

@mixin productsGridItemCover {
    cursor: pointer;
    width: 16.406vw;
    transition: all 0.25s ease;
    height: 100%;
    border-bottom-left-radius: 0.781vw;
    border-top-left-radius: 0.781vw;
}

@mixin infoItemAddCart {
    display: flex;
    align-items: center;
    width: 3vw;
    height: 3vw;
}

@mixin closeImageSigninForm {
    cursor: pointer;

    @media screen and (max-width: 900px) and (min-width: 200px) {
        width: 50%;

    }
}

@mixin infoItemAddCartIcon {
    padding: 0.4vw;
}

@mixin addCartImage {
    width: 100%;
    transition: all 0.25s ease;

}

@mixin showsResultBackIcon {
    @media screen and (max-width: 900px) and (min-width: 350px) {
        display: inline-block;
        width: 4vw;
    }
}

@mixin showsResultBackIconImage {
    @media screen and (max-width: 900px) and (min-width: 350px) {
        max-width: 100%;
    }
}

@mixin showsResultContainerItemCover {
    cursor: pointer;
    transition: all 0.25s ease;
    max-height: 100%;
}

@mixin infoshowsResultPlayContainer {
    padding: .8vw;
    display: flex;
    justify-content: center;
    height: 5vw;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        height: 4vw;

    }
}

@mixin playContainerPlayIcon {
    height: 100%;
    width: 3vw;
    display: flex;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        width: 100%;
    }
}

@mixin playContainerPlayImage {
    width: 8vw;
    transition: all 0.25s ease;
    align-self: center;

    @media screen and (max-width: 900px) and (min-width: 350px) {
        width: 100%;
        align-self: auto;
    }
}

@mixin footerLegalLogo {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vw;
    padding: 1vw;
    align-items: center;
}

@mixin footerLegalLogoIcon {
    display: inline-block;
    width: 35%;
    align-self: flex-end;
}

@mixin footerLegalLogoIconImage {
    width: 100%;
}