header {
    .headerContainer {
        &__logo {
            i {
                @include headerLogoIcon;

                img {
                    width: 100%;
                }
            }
        }

        .messageSession {

            &__shoppingIcon,
            &__logOutIcon {
                width: 2.3vw;

                &--Image {
                    width: 100%;
                }
            }

            .countIcon {
                @include countIcon;
            }
        }
    }

    .shoppingBag {

        &__close {
            @include shoppingBagClose;

            &--image {
                @include shoppingBagCloseImage;
            }
        }

        &__items {
            .bagItem {
                &__cover {
                    @include bagItemCover;
                }

                &__iconRemove {
                    @include bagIconRemove;

                    .imageRemove {
                        @include bagImageRemove;
                    }
                }
            }
        }
    }

    .loginForm {
        &__close {
            @include loginFormClose;

            &--icon {
                .closeImage {
                    @include loginFormCloseImage;
                }
            }
        }

        &__button {
            @include loginButton;

            &--send {
                @include loginButtonSend;

                &:focus {
                    border: solid 2px #f34343;
                }
            }
        }
    }

    .signinForm {
        &__close {
            @include signinFormClose;

            &--icon {

                .closeImageSigninForm {
                    @include closeImageSigninForm;
                }
            }
        }

        &__button {
            @include signinButton;

            &--send {
                @include siginButtonSend;

                &:focus {
                    border: solid 2px #f34343;
                }
            }
        }
    }
}


main {
    .contentFlex {

        &__productsGrid {
            &--grid {
                .productsGrid__item {
                    .itemCover {
                        @include productsGridItemCover;
                    }

                    .infoItem {
                        &__addCart--icon {
                            @include infoItemAddCartIcon;
                        }

                        &__addCart {
                            @include infoItemAddCart;

                            &--icon {
                                width: 100%;
                                cursor: pointer;

                                .addCartImage {
                                    @include addCartImage;

                                    &:hover {
                                        scale: 130%;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }


        .showsResult {
            &__title {
                &--backContentMain {
                    visibility: hidden;

                    .backIcon {
                        @include showsResultBackIcon;

                        &__image {
                            @include showsResultBackIconImage;
                        }
                    }
                }
            }

            &__container {
                &--item {
                    .itemCover {
                        @include showsResultContainerItemCover;
                    }

                    .infoshowsResult {
                        &__playContainer {
                            @include infoshowsResultPlayContainer;

                            &--playIcon {
                                @include playContainerPlayIcon;

                                .playImage {
                                    @include playContainerPlayImage;

                                    @media (hover: hover) {
                                        &:hover {
                                            transform: translateY(-0.792vw);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}

footer {
    .legal {
        &__container {
            &--logo {
                @include footerLegalLogo;

                i {
                    @include footerLegalLogoIcon;

                    img {
                        @include footerLegalLogoIconImage;
                    }
                }
            }


        }
    }
}