body {
    @include bodyStyles;

    header {
        @include headerStyles;

        .headerContainer {
            @include headerContainer;

            &__logo {
                @include headerContainerLogo;

                @media(hover:hover) {
                    &:hover {
                        scale: 110%;
                    }
                }


                h1 {
                    @include h1Logo;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            &__menu {
                @include headerContainersGral(27%, 1vw);

                ul {
                    @include headerUlStyle(center);

                    li {
                        @include headerUlLiStyle(0.3rem, 1.2vw, 3rem);

                        a {
                            text-decoration: none;
                            color: #fff;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &__search {
                @include headerContainersGral(22%, 1vw);


                #searchText {
                    @include searchText;
                }

                .searchButton {
                    @include searchButton;
                }
            }

            &__session {
                @include headerContainersGral(24%, 1vw);

                ul {
                    @include headerUlStyle(space-evenly);

                    li {
                        @include headerUlLiStyle(0.3rem, 1.2vw, 3rem);
                    }

                    .login:hover {
                        text-decoration: underline;
                    }

                    .signin:hover {
                        text-decoration: underline;
                    }

                }

                .messageSession {
                    @include messageSession;
                }
            }
        }

        .shoppingBag {
            @include shoppingBag;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }


            &::-webkit-scrollbar-button:increment {
                display: none;
            }

            &::-webkit-scrollbar:vertical {
                width: .8vw;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #797979;
                border-radius: 30px;
                border: 2px solid #797979;
            }

            &::-webkit-scrollbar-track {
                border-radius: 20px;
            }


            &__title {
                @include shoppingBagTitle;

            }

            &__items {
                .bagItem {
                    @include shoppingBagItemsBagItem;

                    &__title {
                        @include bagItemTitle;
                    }

                    &__denomination {
                        @include bagItemDenominationPrice
                    }

                    &__price {
                        @include bagItemDenominationPrice
                    }


                }
            }
        }

        .loginForm {
            @include loginForm;

            &__user,
            &__pass {
                @include loginFormUserPass;

                &--title {
                    @include loginFormUserPassTitle;
                }

                &--text,
                &--name {
                    @include loginFormUserTextName;

                    .textFocus {
                        border: solid 2px #f34343;
                    }
                }


            }
        }

        .signinForm {
            @include signinForm;

            &__user {
                @include signinFormUser;

                &--title {
                    @include signinFormUserTitle;
                }

                &--name {
                    @include signinFormUserName;

                    .textFocus {
                        border: solid 2px #f34343;
                    }
                }
            }
        }

    }

    main {
        .contentFlex {
            &__productsGrid {
                &--title {
                    @include productsGridTitle;

                    h3 {
                        @include productsGridTitleH3;
                    }
                }

                &--grid {
                    @include productsGridGrid;

                    .productsGrid__item {
                        @include productsGridItem;

                        .infoItem {
                            @include infoItem;

                            &__title {
                                @include infoItemTitle;
                            }

                            &__resolution {
                                @include infoItemResolution;
                            }

                            &__genre {
                                @include infoItemGenre;
                            }

                            &__summary {
                                @include infoItemSummary;
                            }

                            &__price {
                                @include infoItemPrice;
                            }

                        }
                    }
                }
            }

            .showsResult {
                @include showsResult;

                &__title {
                    @include showsResultTitle;

                    h3 {
                        @include headerUlLiStyle(0.3rem, 1.8vw, 3rem);
                        align-content: center;


                    }
                }

                &__container {
                    @include showsResultContainer;

                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                    }


                    &::-webkit-scrollbar-button:increment {
                        display: none;
                    }

                    &::-webkit-scrollbar:horizontal {
                        height: 0.7vw;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #797979;
                        border-radius: 30px;
                        border: 2px solid #797979;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 20px;
                    }

                    &--item {
                        @include showsResultContainerItem;

                        &:hover {
                            scale: 120%;

                            .infoshowsResult {
                                opacity: 1;
                            }

                            .itemCover {
                                opacity: 0.2;
                            }
                        }

                        .infoshowsResult {
                            @include infoshowsResult;

                            &__name {
                                @include infoshowsResultName;

                                @media (hover:hover) {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            &__genre {
                                @include infoshowsResultGenre;

                            }

                            &__summary {
                                @include infoshowsResultSummary;
                            }


                        }

                    }

                }
            }
        }

        .pageNumber {
            .pageNumber__list {

                //2vw
                cursor: pointer;
                font-size: 2vw;
                display: flex;
                color: #fff;
                justify-content: center;
                gap: 1.563vw;
                font-family: "Bebas Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


                li {
                    font-size: clamp(1rem, 2vw, 2rem);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    footer {
        .legal {
            &__container {
                @include footerLegalContainer;

                &--content {
                    @include footerLegalContainerContent;

                    li {
                        @include legalContainerContentLi;
                    }
                }

            }
        }
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0.6vw;
    }

    &::-webkit-scrollbar-button,
    .contenedor::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        //border: 2px solid #797979;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}