header {
    .headerContainer {
        &__logo {
            i {
                display: inline-block;
                width: 15%;
                margin-left: .6vw;

                img {
                    width: 100%;
                }
            }
        }
    }
}

main {
    .contentFlex {

        .freeShows,
        .freeMovies,
        .showsResult {
            &__container {
                &--item {
                    .itemCover {
                        cursor: pointer;
                        transition: all 0.25s ease;
                        max-height: 100%;
                    }
                }
            }
        }
    }

    .showsResult {
        &__container {
            &--item {
                .infoshowsResult {
                    &__playContainer {
                        @include infoShowsResultPlayContainer;

                        &--playIcon {
                            @include playContainerIcon;

                            .playImage {
                                @include playContainerIconImage;

                                @media(hover: hover) {
                                    &:hover {
                                        transform: translateY(-0.792vw);
                                    }
                                }


                            }
                        }
                    }
                }

            }
        }
    }
}

footer {
    .legal {
        &__container {
            &--logo {
                i {
                    display: inline-block;
                    width: 35%;
                    align-self: flex-end;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}