body {
    @include bodyStyles;

    header {
        @include headerStyles;

        .headerContainer {
            @include headerContainer;

            &__logo {
                @include headerContainerLogo;

                @media(hover:hover) {
                    &:hover {
                        scale: 110%;
                    }
                }

                h1 {
                    @include h1Logo;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            &__menu {
                @include headerContainersGral(27%, 1vw);

                ul {
                    @include headerUlStyle(center);

                    li {
                        @include headerUlLiStyle(0.3rem, 1.2vw, 3rem);

                        a {
                            text-decoration: none;
                            color: #fff;
                        }

                        @media(hover:hover) {
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                    }
                }
            }

            &__search {
                @include headerContainersGral(22%, 1vw);


                #searchText {
                    @include searchText;
                }

                .searchButton {
                    @include searchButton;
                }
            }

            &__session {
                @include headerContainersGral(24%, 1vw);

                ul {
                    @include headerUlStyle(space-evenly);

                    li {
                        @include headerUlLiStyle(0.3rem, 1.2vw, 3rem);
                    }

                    @media (hover:hover) {
                        .login:hover {
                            text-decoration: underline;
                        }

                        .signin:hover {
                            text-decoration: underline;
                        }

                    }

                }

                .messageSession {
                    @include messageSession;

                    &__shoppingIcon,
                    &__logOutIcon {
                        width: 2.3vw;

                        &--Image {
                            width: 100%;
                        }
                    }

                }
            }
        }

        .loginForm {
            @include loginForm;

            &__close {
                @include loginFormClose;



                &--icon {

                    .closeImage {
                        cursor: pointer;

                        @media screen and (max-width: 900px) and (min-width: 350px) {
                            width: 50%;

                        }
                    }
                }
            }

            &__user,
            &__pass,
            &__button {
                padding: 1.5vw;

                &--title {
                    @include loginFormContainerTitle;
                }

                &--text,
                &--name {
                    @include loginFormContainerTextName;

                    .textFocus {
                        border: solid 2px #f34343;
                    }
                }

                &--send {
                    @include loginFormButtonSend;

                    &:focus {
                        border: solid 2px #f34343;
                    }
                }
            }
        }

        .signinForm {
            @include signinForm;

            &__close {
                @include signinFormClose;

                &--icon {
                    .closeImageSigninForm {
                        @include closeImageSigninForm;
                    }
                }
            }

            &__user,
            &__button {
                @include signinFormUserButton;

                &--title {
                    @include signinFormUserButtonTitle;
                }

                &--name {
                    @include signinFormUserButtonName;

                    .textFocus {
                        border: solid 2px #f34343;
                    }
                }

                &--send {
                    @include signinFormUserButtonSend;

                    &:focus {
                        border: solid 2px #f34343;
                    }
                }
            }
        }

    }

    main {

        .freeShows,
        .freeMovies,
        .showsResult {
            transition: all 0.25s ease;

            &__title {
                @include freeShowsMoviesShowsResultsTitle;

                &--backContentMain {
                    visibility: hidden;

                    .backIcon {
                        @media screen and (max-width: 900px) and (min-width: 350px) {
                            display: inline-block;
                            width: 4vw;
                        }

                        &__image {
                            @media screen and (max-width: 900px) and (min-width: 350px) {
                                max-width: 100%;
                            }
                        }
                    }
                }

                h3 {
                    @include headerUlLiStyle(0.3rem, 1.8vw, 3rem);
                    align-content: center;
                }
            }

            &__container {
                @include freeShowsMoviesShowsResultsContainer;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }


                &::-webkit-scrollbar-button:increment {
                    display: none;
                }

                &::-webkit-scrollbar:horizontal {
                    height: 0.7vw;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #797979;
                    border-radius: 30px;
                    border: 2px solid #797979;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 20px;
                }

                &--item {
                    @include freeShowsMoviesShowsResultsContainerItem;

                    &:hover {
                        scale: 120%;

                        .infoShow,
                        .infoMovies,
                        .infoshowsResult {
                            opacity: 1;
                        }

                        .itemCover {
                            opacity: 0.2;
                        }
                    }

                    .infoShow,
                    .infoMovies {
                        @include freeShowsMoviesShowsResultsContainerItemInfo;

                        &__name {
                            @include infoMoviesShowsName;

                            @media (hover:hover) {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                        }

                        &__genre {
                            @include infoMoviesShowsGenre;
                        }

                        &__summary {
                            @include infoMoviesShowsSummary;

                        }

                        &__playContainer {
                            @include infoMoviesShowsPlayContainer;

                            &--playIcon {
                                @include infoMoviesShowsPlayIcon;

                                .playImage {
                                    @include playIconImage;

                                    @media (hover: hover) {
                                        &:hover {
                                            transform: translateY(-0.792vw);
                                        }
                                    }

                                }
                            }
                        }
                    }

                    .infoshowsResult {
                        @include infoShowsResult;

                        &__name {
                            @include infoShowsResultName;

                            @media(hover: hover) {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        &__genre {
                            @include infoShowsResultGenre;
                        }

                        &__summary {
                            @include infoShowsResultSummary
                        }
                    }

                }

            }
        }
    }

    footer {
        .legal {
            &__container {
                @include footerLegalContainer;

                &--content,
                &--logo {
                    @include containerContentLogo;

                    li {
                        @include listItem;
                    }
                }

            }
        }
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0.6vw;
    }

    &::-webkit-scrollbar-button,
    .contenedor::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        //border: 2px solid #797979;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }

}